body {
    margin: 0px;
    padding: 0px;
    background-color: #393e46;
}

.links {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
}


.app {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}

.questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.question-box {
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
    border-radius: 10px;
    padding: 0px 40px 10px 40px;
    background-color: #151515;
    color: #e6e6e6;
}

.question-buttons {
    display: flex;
    flex-direction: row;
}

.question-button {
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #4b866f;
    color: #ffffff;
}

button:disabled {
    background-color: #a9a9a9;
    color: #888686;
}

.back-button {
    margin: 20px;
    background-color: #e9967a;
}

select {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #00adb5;
    color: #ffffff;
}

.answer-display {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.answer-display.correct {
    color: #026a4c;
}

.answer-display.wrong {
    color: #a60311;
}

.question-box h1 {
    text-align: left;
    color: #7588d3
}